<div class="sidebar" data-color="purple" data-background-color="black" data-image="./assets/img/sidebar-2.jpg">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item  ">
          <a class="nav-link"  [routerLink]="['/']" href="./danhmuc.html">
            <i class="material-icons">dashboard</i>
            <p>Danh mục</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a  class="nav-link"  [routerLink]="['/list-task']">
            <i class="material-icons">dashboard</i>
            <p>Sản phẩm</p>
          </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" [routerLink]="['/list-task']">
            <i class="material-icons">dashboard</i>
            <p>Khách hàng</p>
          </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" [routerLink]="['/list-task']">
            <i class="material-icons">dashboard</i>
            <p>Doanh thu</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>