<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <form action="" method="POST" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="Tìm kiếm">
        </div>
      </form>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">notifications</i>
              <p class="d-lg-none d-md-block">
                Notifications
              </p>
            </a>
          </li>
          <!-- your navbar here -->
        </ul>
      </div>
    </div>
  </nav>