<div class="content">
    <div class="container">
        <a [routerLink]="['/task-create']" type="button" class="btn btn-primary">Thêm sản phẩm</a> 
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center">STT</th>
              <th class="text-center">Tên sản phẩm</th>
              <th class="text-center">Ảnh</th>
              <th class="text-center">Mô tả</th>
              <th class="text-center">Giá</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">Sản phẩm 1</td>
              <td class="text-center">
                <img width="100" src="https://cdn.nguyenkimmall.com/images/detailed/555/may-anh-cho-nguoi-moi.jpg" alt="">
              </td>
              <td class="text-center">Mô tả 1</td>
              <td class="text-center">1.500.000đ</td>
              <td class="text-center">
                <button type="button" class="btn btn-danger">Xóa</button>
                <a [routerLink]="['/task-edit']" type="button" class="btn btn-primary">Sửa</a> 
              </td>
            </tr>
          </tbody>
        </table>
        
    </div>
  </div>